
head {
    text-align: center;
}
.directions
{
    background-color: #ffcc99;
    padding: 10px;
}

html{
    background: linear-gradient(to bottom right, #ff99cc 43%, #00ffff 100%);
}
p {
    color: black;
}
.home {
    background-color: #ffcccc;
    padding: 10px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa {
    padding: 10px;
    font-size: 100px;
    width: 35px;
    text-decoration: none;
  }